---
title: Bilder
---

<h1>Bilder</h1>

<%
years = @items.select { |i| i.identifier =~ %r#^/bilder/\d{4}/[^/]+/$# }
              .group_by { |i| gallery_year i }
years.keys.reverse.each do |year| %>
  <h2 id="<%= year %>"><%= year %></h2>
  <ul class="fixed-width image-list subnav">
    <% years[year].sort_by { |i| i.attributes[:sort] }.reverse.each do |item| %>
      <li>
        <a href="<%= item.path %>">
          <div class="l-box">
            <img src="<%= thumbnail_path(item[:splash].nil? ? item.children[0] : gallery_image(item, item[:splash])) %>" alt="">
          </div>
          <strong><%= item.attributes[:title] %></strong>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
