---
title: Termine
---

<h1>Termine 2015</h1>

<table id="dates" class="pure-table pure-table-bordered">
  <tr>
    <td>14.05.2015</td>
    <td>Waldfest</td>
  </tr>
  <tr>
    <td>02.05.2015</td>
    <td>Frühlingskonzert</td>
  </tr>
  <tr>
    <td>15.03.2015</td>
    <td>Jugendvorspielnachmittag</td>
  </tr>
  <tr>
    <td>14.01.2015</td>
    <td>Neujahrsempfang in Durmersheim</td>
  </tr>
  <tr>
    <td>06.01.2015</td>
    <td>Neujahrsempfang in Würmersheim</td>
  </tr>
</table>

<script async src="/js/termine.js"></script>

<h1>Rückblicke</h1>

<%
years = @items.select { |i| i.identifier.start_with? '/rueckblick/' }
              .group_by { |i| i.identifier[12..15] }
years.keys.reverse.each do |year| %>
  <h2><%= year %></h2>
  <ul>
    <% years[year].sort_by { |i| i.attributes[:sort] }.reverse.each do |item| %>
      <li><a href="<%= item.path %>"><%= item.attributes[:title] %></a> (<%= item.attributes[:date] %>)</li>
    <% end %>
  </ul>
<% end %>
