---
title: Termine
---

<h1>Termine 2020</h1>

<table id="dates" class="pure-table pure-table-bordered">
  <tr>
    <td>19.12.2020</td>
    <td>Weihnachtsfeier</td>
  </tr>
  <tr>
    <td>04.07.2020</td>
    <td>Ausflug nach Ruwer</td>
  </tr>
  <tr>
    <td>21.05.2020</td>
    <td>Waldfest</td>
  </tr>
  <tr>
    <td>16.05.2020</td>
    <td>Frühjahrskonzert</td>
  </tr>
  <tr>
    <td>22.03.2020</td>
    <td>Jugendvorspielnachmittag (verschoben!)</td>
  </tr>
  <tr>
    <td>20.03.2020</td>
    <td>Generalversammlung (verschoben!)</td>
  </tr>
  <tr>
    <td>25.02.2020</td>
    <td>Faschingsumzug durch Würmersheim</td>
  </tr>
  <tr>
    <td>06.01.2020</td>
    <td>Bürgertreff in Würmersheim</td>
  </tr>
</table>

<script async src="/js/termine.js"></script>

<h1>Rückblicke</h1>

<%
years = @items.select { |i| i.identifier.start_with? '/rueckblick/' }
              .group_by { |i| i.identifier[12..15] }
years.keys.reverse.each do |year| %>
  <h2><%= year %></h2>
  <ul>
    <% years[year].sort_by { |i| i.attributes[:sort] }.reverse.each do |item| %>
      <li><a href="<%= item.path %>"><%= item.attributes[:title] %></a> (<%= item.attributes[:date] %>)</li>
    <% end %>
  </ul>
<% end %>
