<h1><%= item[:title] %> (<%= gallery_year(item) %>)</h1>

<div class="gallery">
  <ul class="image-list">
    <% item.children.each do |image| %>
      <li><a rel="gallery" class="fancybox" href="<%= image.path %>"><img src="<%= thumbnail_path(image) %>" alt=""></a></li>
    <% end %>
  </ul>
</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script>
  $('.fancybox').fancybox();
</script>
