// General content styling

.content
  padding: 36px

#main
  background-color: #f2f2f2

.l-box
  padding: 1em

// Sub navigation grid.
.subnav
  margin-bottom: 2em

  img
    margin-top: 1em

  a
    text-align: center
