// Header styling

header
  background: #9f3735

  .logo, nav
    display: inline-block
    vertical-align: middle

  nav
    text-align: right

  ul
    margin-bottom: 0
    display: inline-block

  li
    background: white
    border-radius: 3px

    a
      text-decoration: none
      color: black
      font-weight: bold
  
  li + li
    margin-left: 3px
