// Header styling

header.main
  background: #9f3735
  padding-top: 18px
  padding-bottom: 18px

  .pure-menu, a.pure-menu-heading:hover
    background: transparent

  .logo, h1, nav
    display: inline-block
    vertical-align: middle
    margin-right: 20px

  h1
    color: #d4aa00
    margin-bottom: 0
    line-height: 1.3

  li
    background: #C94444

    a
      text-decoration: none
      color: black
      font-weight: bold
