// Setup

// Libraries

// Pure overrides
@import "ui/pure";

// Layout
@import "ui/header";
@import "ui/content";
@import "ui/footer";

@import "ui/bilder";
@import "ui/rueckblick";

html {
  line-height: 1.6;
}

body {
  min-width: 950px;
}

h1, h2 {
  // Too much space.
  margin-bottom: 0;

  & + p {
    margin-top: 0.5em;
  }
}

a, a:visited {
  color: #2366AD;
}

a:hover {
  background-color: #2366AD;
  color: white;
}

p {
  max-width: 40em;
}

// Definition titles
dt {
  font-weight: bold;
}

// Default tables
td {
  padding: 4px 12px;
}

