// Setup

// Layout
@import "ui/header";
@import "ui/content";
@import "ui/footer";

body {
  min-width: 800px;
}

a:link, a:visited {
  color: #2366AD;
}

a:hover {
  background-color: #2366AD;
  color: white;
}
